<div class="about-container">
  <p class="introduction">
    今日の服に悩んでいる方<br>
    &emsp;&emsp;おしゃれが好きな方<br>
    &emsp;&emsp;&emsp;天気に合わせてコーディネイトしませんか？<br>
  </p>
  <p class="introduction-2">
    1日のスタートを楽しく！<br>
    &emsp;&emsp;みんなと共有して、毎日をハッピーに！！<br>
  </p>
</div>