/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#notice{
  margin-left: 10px;
  color: #5D99FF;
  font-size: 20px;
  font-weight: bold;
}

#alert{
  margin-left: 10px;
  color: #FF1A6F;
  font-size: 20px;
  font-weight: bold;
}

footer{
  background-color: #808080;
  color: #FFF;
  height: 150px;
}

.weather-box{
  display: flex;
  flex-wrap: wrap;
}

.weather-report{
  width: 170px;
  margin: 20px 30px 30px;
}

.search-container{
  margin-top: 10px;
  float: right;
}

.search-box{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 0px 1px;
  width: 205px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}

.search_box input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  position: absolute;
  width: 0.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.text-under{
  border-bottom: 2px solid;
}