/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#notice{
  margin-left: 10px;
  color: #5D99FF;
  font-size: 20px;
  font-weight: bold;
}

#alert{
  margin-left: 10px;
  color: #FF1A6F;
  font-size: 20px;
  font-weight: bold;
}

.errors{
  margin-left: 50px;
}

.field_with_errors {
  display: contents;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer{
  width: 100%;
  background-color: #808080;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.link{
  color: #000;
  text-decoration: underline;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 20px;
}

.pagination>li>a:hover {
  border-radius: 20px;
}

.about-container {
  width: 100%;
  height: 600px;
  background-image: url(bg_image.jpg);
  background-size: cover;
  background-position: top;
}

.introduction {
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding-top: 100px;
  margin-left:  70px;
  line-height: 40px;
}

.introduction-2 {
  font-size: 20px;
  color: #fff;
  text-align: lefr;
  padding-top: 170px;
  margin-left: 980px;
  line-height: 40px;
}

.search-container{
  margin-top: 10px;
  float: right;
}

.search-box{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 0px 1px;
  width: 205px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}

.search_box input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  position: absolute;
  width: 0.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.text-under{
  border-bottom: 2px solid;
}